<h1>Dashboard</h1>

<h2>Welcome <%= @current_user.email %> To ZenHR Automation Graduation Project</h2>

<%= button_to "Logout", session_path(@current_user.id), method: :delete %>

<ul>
  <% if @current_user.admin? %>
    <li><%= link_to "Manage Tags", tags_path %></li>
  <% end %>
  <li><%= link_to "Blogs", blogs_path %></li>
</ul>
